In [1]:
# 1. Collect the name, year of birth and salary of a user. Then output the following :

# Collect user input
name = str(input('Enter your NAME: '))
yob = int(input('Enter your YEAR of birth: '))
salary = float(input('Enter your SALARY: RM '))

# Perform calculation
age = (2021 - yob) + (2030-2021)
tax = (12.3/100)*salary

print(f"\nGood day {name}! Your year of birth is {yob} and your age in the year 2030 will be {age}. \nFrom your salary of RM {salary:.2f} the computed tax of 12.3% is {tax:.2f}.")

Enter your NAME: Ahmad
Enter your YEAR of birth: 2020
Enter your SALARY: RM 3200.50

Good day Ahmad! Your year of birth is 2020 and your age in the year 2030 will be 10.
From your salary of RM 3200.50 the computed tax of 12.3% is 393.66.

In [2]:
# 2. Collect a list of names and scores and find the average of the scores.

# Initialize variables
count = 1
name_ls = []
score_ls = []

# Ask user for input limit
total = int(input("How many person to input? >>"))

# Collect names and score
for n in range(total):
    name = str(input(f"Enter Person {count} Name: "))
    score = float(input(f"Enter Score for {name}: "))
    
    name_ls.append(name)
    score_ls.append(score)
    count+=1

# Calculate and combine the list
average = sum(score_ls)/total
full_ls = [name_ls, score_ls]

print(f"\nThe names and scores given are: ")
for i in full_ls:          # For each list in full list [[list][list]]
    ls = map(str,i)        # Transform elements in list into string [[str,str,..][str,str,..]]
    print('\t'.join(ls))   # Join the elements together, separated by tab
    
print(f"\nThe average score for the {total} person given is: {average:.2f}")

How many person to input? >>4
Enter Person 1 Name: Ahmad
Enter Score for Ahmad: 100
Enter Person 2 Name: Ali
Enter Score for Ali: 95.5
Enter Person 3 Name: Abu
Enter Score for Abu: 82
Enter Person 4 Name: Awang
Enter Score for Awang: 90

The names and scores given are:
Ahmad	Ali	Abu	Awang
100.0	95.5	82.0	90.0

The average score for the 4 person given is: 91.88

In [3]:
# 3. Use python to write an application letter for job to Perantis apply text wrap with line width of 50.

import textwrap

print("Nu'man bin Badrud'din \
      \nKampung Parit Patah,\
      \n82000 Pontian \
      \nJohor")

print("\n17 October 2021")

print("\nPerantis Iskandar \
      \nEduCity Iskandar, \
      \n79100 Nusajaya, \
      \nJohor")

print()
print(textwrap.fill('''Assalamualaikum. Hope you are in good health. My name is Nu'man bin Badrud'din and I am applying for 
AI Engineer Position at Perantis.''', 50))

print()

print(textwrap.fill(''' As a computational major, I have 3 years of Python and machine learning experience starting since 
my undergraduate final year project which continues with my Master’s degree while working as a research assistant for 2 years.
I am trained in data related field such as machine learning and AI as I recently have obtained the Data Science certificate 
from The Centre of Applied Data Science (The CADS).''', 50))

print()

print(textwrap.fill(''' While my domain so far has been the use of machine learning in physics research,
I am willing to expand and adapt more knowledge and skills towards the application of Python and machine learning in the
automation industry.''', 50))

print()

print(textwrap.fill(''' I attach my resume and previous supervisor's recommendation letter with this application letter.
I hope my knowledge and skills would be put into your consideration.''', 50))
print("\nThank you.")

Nu'man bin Badrud'din
Kampung Parit Patah,
82000 Pontian
Johor

17 October 2021

Perantis Iskandar
EduCity Iskandar,
79100 Nusajaya,
Johor

Assalamualaikum. Hope you are in good health. My
name is Nu'man bin Badrud'din and I am applying
for  AI Engineer Position at Perantis.

 As a computational major, I have 3 years of
Python and machine learning experience starting
since  my undergraduate final year project which
continues with my Master’s degree while working as
a research assistant for 2 years. I am trained in
data related field such as machine learning and AI
as I recently have obtained the Data Science
certificate  from The Centre of Applied Data
Science (The CADS).

 While my domain so far has been the use of
machine learning in physics research, I am willing
to expand and adapt more knowledge and skills
towards the application of Python and machine
learning in the automation industry.

 I attach my resume and previous supervisor's
recommendation letter with this application
letter. I hope my knowledge and skills would be
put into your consideration.

Thank you.

<h3>5.3 String Methods and Functions - Table 5.8 (page 73)<h3>

In [4]:
# PAGE 73 

# capitalize()

str1 = "this is string example....wow!!!"
print (str1.capitalize())

This is string example....wow!!!

In [5]:
# center(width, fillchar)

str1 = "this is string example....wow!!!"
print (str1.center(40, 'a'))

aaaathis is string example....wow!!!aaaa

In [6]:
# count(str, beg= 0,end=len(string))

str1 = "this is string example....wow!!!"
sub = "i"
print ("str1.count(sub, 4, 40) : ", str1.count(sub, 4, 40))

sub = "wow";
print ("str1.count(sub) : ", str1.count(sub))

str1.count(sub, 4, 40) :  2
str1.count(sub) :  1

In [7]:
# PAGE 74

# Byte Decode & Encode
# bytes.decode(encoding="utf-8", errors="strict")
# str.encode(encoding="utf-8", errors="strict")

city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded)) # bytes
print(utf8_encoded) # b'D\xc3\xbcsseldorf'

decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city)) # str
print(decoded_city) # Düsseldorf

<class 'bytes'>
b'D\xc3\xbcsseldorf'
<class 'str'>
Düsseldorf

In [8]:
# endswith(suffix, beg=0, end=len(string))

str1 = "this is string example....wow!!!"
suffix = "wow!!!"
print (str1.endswith(suffix))
print (str1.endswith(suffix,20))

suffix = "is"
print (str1.endswith(suffix, 2, 4))
print (str1.endswith(suffix, 2, 6))

True
True
True
False

In [9]:
# PAGE 75 

# expandtabs(tabsize=8)
str1 = "this is\tstring example....wow!!!"
print ("Original string: " + str1)
print ("Default expanded tab: " + str1.expandtabs())
print ("Double expanded tab: " + str1.expandtabs(16))

Original string: this is	string example....wow!!!
Default expanded tab: this is string example....wow!!!
Double expanded tab: this is         string example....wow!!!

In [10]:
# find(str, beg=0 end=len(string))

str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

In [11]:
# index(str, beg=0, end=len(string))

str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.index(str2))
print (str1.index(str2, 10))
#print (str1.index(str2, 40)) # ValueError

15
15

In [12]:
# PAGE 76

# isalnum()

str1 = "this2009"; # No space in this string
print (str1.isalnum())
str1 = "this is string example....wow!!!"
print (str1.isalnum())

True
False

In [13]:
# isalpha()

str1 = "this2009"; # No space in this string
print (str1.isalpha())
str2 = "this is string example....wow!!!"
print (str2.isalpha())

False
False

In [14]:
# isdigit()

str1 = "123456" # Only digit in this string
print (str1.isdigit())
str2 = "this is string example....wow!!!"
print (str2.isdigit())

True
False

In [15]:
# PAGE 77

# islower()

str1 = "THIS is string example....wow!!!"
print (str1.islower())
str2 = "this is string example....wow!!!"
print (str2.islower())

False
True

In [16]:
# isnumeric()

str1 = u"this2009"
print (str1.isnumeric())
str2 = u"23443434"
print (str2.isnumeric())

False
True

In [17]:
# isspace()

str1 = " "
print (str1.isspace())
str2 = "This is string example....wow!!!"
print (str2.isspace())

True
False

In [18]:
# istitle()

str1 = "This Is String Example...Wow!!!"
print (str1.istitle())
str2 = "This is string example....wow!!!"
print (str2.istitle())

True
False

In [19]:
# PAGE 78

# isupper()

str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.isupper())
str2 = "THIS is string example....wow!!!"
print (str2.isupper())

True
False

In [20]:
# join(seq)

s = "-"
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [21]:
# len(string)

str1 = "this is string example....wow!!!"
print ("Length of the string: ", len(str1))

Length of the string:  32

In [22]:
# ljust(width[, fillchar])

str1 = "this is string example....wow!!!"
print (str1.ljust(50, '0'))

this is string example....wow!!!000000000000000000

In [23]:
# PAGE 79 

# lower()

str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.lower())

this is string example....wow!!!

In [24]:
# lstrip()

str1 = " this is string example....wow!!! "
print (str1.lstrip())
str2 = "88888888this is string example....wow!!!8888888"
print (str2.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

In [25]:
# maketrans()

intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)
str1 = "this is string example....wow!!!"
print (str1.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [26]:
# max(str)

str1 = "this is really a string example....wow!!!"
print ("Max character: " + max(str1))
str2 = "this is a string example....wow!!!"
print ("Max character: " + max(str2))

Max character: y
Max character: x

In [27]:
# PAGE 80

# min(str)

str1 = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str1))
str2 = "this-is-a-string-example....wow!!!"
print ("Min character: " + min(str2))

Min character: !
Min character: !

In [28]:
# replace(old, new [, max])

str1 = "this is string example....wow!!! this is really string"
print (str1.replace("is", "was"))
print (str1.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [29]:
# rfind(str, beg=0,end=len(string))

str1 = "this is really a string example....wow!!!"
str2 = "is"
print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 0))
print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

In [30]:
# PAGE 81

# rindex( str, beg=0, end=len(string))

str1 = "this is string example....wow!!!"
str2 = "is"
print (str1.rindex(str2))
print (str1.index(str2))

5
2

In [31]:
# rjust(width,[, fillchar])

str1 = "this is string example....wow!!!"
print (str1.rjust(50, '0'))

000000000000000000this is string example....wow!!!

In [32]:
# rstrip()

str1 = " this is string example....wow!!! "
print (str1.rstrip())
str2 = "88888888this is string example....wow!!!8888888";
print (str2.rstrip('8'))

 this is string example....wow!!!
88888888this is string example....wow!!!

In [33]:
# split(str="", num=string.count(str))

str1 = "Line1-abcdef \nLine2-abc \nLine4-abcd"
print (str1.split( ))
print (str1.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
['Line1-abcdef', '\nLine2-abc \nLine4-abcd']

In [34]:
# PAGE 82

# splitlines( num=string.count('\n'))

str1 = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d"
print (str1.splitlines( ))
print (str1.splitlines( 0 ))
print (str1.splitlines( 3 ))
print (str1.splitlines( 4 ))
print (str1.splitlines( 5 ))

['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']

In [35]:
# startswith(str, beg=0,end=len(string))

str1 = "this is string example....wow!!!"
print (str1.startswith( 'this' ))
print (str1.startswith( 'is', 2, 4 ))
print (str1.startswith( 'this', 2, 4 ))

True
True
False

In [36]:
# strip([chars])

str1 = "0000000this is string example....wow!!!0000000"
print (str1.strip( '0' ))

this is string example....wow!!!

In [37]:
# PAGE 83 

# swapcase()

str1 = "this is string example....wow!!!"
print (str1.swapcase())
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

In [38]:
# title()

str1 = "this is string example....wow!!!"
print (str1.title())

This Is String Example....Wow!!!

In [39]:
# translate(table, deletechars="")

intab = "aeiou"
outtab = "12345"
str1 = "this is string example....wow!!!"
trantab = str.maketrans(intab, outtab)
print (str1.translate(trantab))

trantab = str.maketrans(intab, outtab, 'xm')
print (str2.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!
88888888th3s 3s str3ng 21pl2....w4w!!!8888888

In [40]:
# upper()

str1 = "this is string example....wow!!!"
print ("str1.capitalize() : ", str1.upper())

str1.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [41]:
# PAGE 84

# zfill (width)

str1 = "this is string example....wow!!!"
print (str1.zfill(40))
print (str1.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

In [42]:
# isdecimal()

str1 = u"this2009"
print (str1.isdecimal())
str2 = u"23443434"
print (str2.isdecimal())

False
True